.App {
  text-align: left;
}

.header {
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 1rem;
  background-color: bisque;
  gap: 50px;
}

.anime-icons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.scoreboard {
  margin-top: 50px;
  font-weight: 1000;
  font-size: 1.65rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.score {
  text-align: center;
       
}

.highscore{
  text-align: left;
}


.card {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 225px;
  font-weight: 1000;
}

.content {
    padding-top: 50px;
    color: red;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}

.names {
  background-color: white;
}

